@import "tailwindcss";

@theme {
    --breakpoint-print: print;
}

@media print {
    @page {
        margin: 10mm; 
        size: A4 portrait;
    }

    body {
        background: white !important;
        margin: 0 !important;
        padding: 0 !important;
        display: block !important; 
    }

    #invoice-card {
        border: none !important;
        box-shadow: none !important;
        width: 90% !important; 
        margin: 0 auto !important; 
        padding: 10px !important;
        background: white !important;
        height: auto !important;
        break-inside: avoid !important;
        page-break-after: avoid !important;
    }

    .gap-10 { gap: 6px !important; }
    .mt-10 { margin-top: 10px !important; }
    .mt-5 { margin-top: 5px !important; }
    .p-6 { padding: 5px !important; }

   
    .grid-cols-2 {
        gap: 4px !important;
        margin-top: 10px !important;
        display: grid !important;
        justify-content: end !important;
    }

    .product-row {
        display: grid !important;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
        gap: 10px !important;
        width: 100% !important;
        border-bottom: 1px solid #eee !important;
        padding: 5px 0 !important;
        align-items: center !important;
    }

    input, textarea {
        border: none !important;
        background: transparent !important;
        padding: 2px !important;
        font-size: 13px !important;
        width: 100% !important;
        outline: none !important;
        resize: none !important;
    }

    .print-button, #add-row-btn, .remove-btn, .crafted-text, .bg-black {
        display: none !important;
    }
}
